a {
    text-decoration: none;
}

form {
    width: 50%;
    min-width: 280px;
    margin: 0 auto;
}

.btn-formulaire {
    margin-top: 0.5rem;
}

.btn-edit, .btn-delete {
    margin-top: 0.6rem;
}

.list-sessions-apprenant, .list-apprenants-session, .list-unites-session {
    width: 70%;
    min-width: 280px;
    margin: 0 auto;
}