{% extends 'base.html.twig' %}

{% block title %}Ajouter un apprenant {% endblock %}

{% block body %}
    {% if edit %}
        <h1>Éditer un apprenant</h1>
        
    {% else %}
        <h1>Ajouter un apprenant</h1>    
    {% endif %}

    {# on utilise la fonction form() pour rendre le formulaire "formAddApprenant" #}
    {{ form(formAddApprenant) }}

   
{% endblock %}
