{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1>Prochaines sessions</h1>

{% for session in sessions %}
    {{ session }} <br>
{% endfor %}
{% endblock %}
