{% extends 'base.html.twig' %}

{% block title %}Liste des unités{% endblock %}

{% block body %}
<h1>Liste des unités</h1>
   <ul class="list-group">
      {% for unite in unites %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
         {{ unite }}  ({{unite.categorie}})
      </li>
      {% endfor %} 
   </ul>
{% endblock %}
