{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>

{% for categorie in categories %}
   {{ categorie }} <br>
{% endfor %}
{% endblock %}
