{% extends 'base.html.twig' %}

{% block title %}Liste des programmes{% endblock %}

{% block body %}
<h1>Liste des programmes</h1>

{% for programme in programmes %}
   {{ programme }} <br>
{% endfor %}
{% endblock %}
