{% extends 'base.html.twig' %}

{% block title %}Programme détaillé{% endblock %}

{% block body %}
    <h1>Programme détaillé</h1>

    <h2> {{ programme.session.intitule }}</h2>

    <table>
        <thead>
            <tr>
                <th>Unité</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
                {% for unite in programme %}
                <tr>
                    <td> {{ programme.unite }} </td>

                </tr>
                {% endfor %}
        </tbody>
    </table>
    
{% endblock %}